html, body {
  font: 100% Helvetica, sans-serif;
  background-color: #305166;
  padding: 0;
  margin: 0 auto;
  color: aliceblue;}

h1{margin: .5em}

.container {
  width: 65%;
  height: auto;
  margin-left: auto;
  margin-right: auto;}
